@import "tailwindcss";

@layer base {
	@font-face {
		font-family: 'Space Grotesk';
		src: url('../assets/fonts/space-grotesk.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Space Mono';
		src: url('../assets/fonts/space-mono.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('../assets/fonts/inter.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'DM Sans';
		src: url('../assets/fonts/dm-sans.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}

@theme {
	--font-grotesk: 'Space Grotesk';
	--font-smono: 'Space Mono';
	--font-inter: 'Inter';
	--font-dmsans: 'DM Sans';
}

/* import stylesheets here */
@import './login.css';
@import './dashboard.css';
@import './reservation-list.css';
@import './reserve-rooms.css';
@import './reserve-seat.css';
@import './DLSU-buildings.css';

/* BACKGROUNDS */

.login-background {
	@apply bg-cover bg-[url('../assets/images/bg-login.png')];
}

.dashboard-background {
	@apply bg-cover bg-[url('../assets/images/bg-dashboard.jpg')];
}

.dlsuBuildings-background {
	@apply bg-cover bg-[url('../assets/images/bg-dlsuBuildings.jpg')];
}

.reservation-list-background {
	@apply bg-cover bg-[url('../assets/images/bg-reservation-list.jpg')];
}

/* GENERAL CONFIG */

#page {
	@apply m-0 bg-black flex flex-col items-center;
}

#top {
	@apply max-h-[100px] bg-zinc-600 w-full flex justify-between items-center;
}

#hamburger-btn {
	@apply ml-4 mb-2;
	@apply transition duration-200;
	@apply hover:bg-white hover:text-black hover:cursor-pointer;
}

.wrap-spacer {
	@apply w-full;
}

.hamburger-icon {
	@apply font-bold text-white m-4 pb-4 text-4xl md:text-5xl xl:text-7xl after:content-['\2630'];
}

.profile-bubble {
	@apply w-16 h-16 md:w-24 md:h-24 rounded-full bg-white;
}

.trademark {
	@apply flex flex-col items-center;
}

.landmass {
	@apply font-bold font-grotesk text-white text-2xl md:text-4xl xl:text-5xl tracking-[0.2em] md:tracking-[0.4em] after:content-['LANDMASS'];
}

.landmass-subtext {
	@apply font-smono text-white text-base md:text-xl xl:text-3xl after:content-['Reservation_System'];
}

.content-area {
	@apply w-full h-full;
}

.content {
	@apply mt-10 flex flex-col justify-center items-center;
}

/* SIDEBAR */
.side-nav {
	@apply w-0 pt-4 h-full fixed overflow-hidden flex flex-col justify-start items-start bg-black/70;
	@apply duration-300 ease-out;
}

.side-nav-button {
	@apply w-full p-4 rounded-xl font-grotesk text-left text-white truncate;
	@apply transition duration-100;
	@apply hover:bg-white hover:text-black hover:font-bold hover:cursor-pointer;
	@apply focus:outline-3 focus:outline-white-800;
	@apply active:bg-white-800;
}

.login .side-nav-button:not(.login-visible) {
	@apply hidden;
}

#redir-dashboard {
	@apply after:content-['Dashboard'];
}

#redir-reserve-seats {
	@apply after:content-['Reserve_Seats'];
}

#redir-see-reservations {
	@apply after:content-['See_Reservations'];
}

#redir-account-settings {
	@apply after:content-['Account_Settings'];
}

#redir-contact-us {
	@apply after:content-['Contact_Us'];
}

#redir-log-out {
	@apply after:content-['Log_Out'];
}
