@import "tailwindcss";

@layer base {
	@font-face {
		font-family: 'Space Grotesk';
		src: url('../assets/fonts/space-grotesk.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Space Mono';
		src: url('../assets/fonts/space-mono.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('../assets/fonts/inter.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'DM Sans';
		src: url('../assets/fonts/dm-sans.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}

@theme {
	--font-grotesk: 'Space Grotesk';
	--font-smono: 'Space Mono';
	--font-inter: 'Inter';
	--font-dmsans: 'DM Sans';
}

/* import stylesheets here */
@import './login.css';
@import './dashboard.css';
@import './reservation-list.css';

/* BACKGROUNDS */

.login-background {
	@apply bg-cover bg-[url('../assets/images/bg-login.png')];
}

.dashboard-background {
	@apply bg-cover bg-[url('../assets/images/bg-dashboard.jpg')];
}

.reservation-list-background {
	@apply bg-cover bg-[url('../assets/images/bg-reservation-list.jpg')];
}

/* GENERAL CONFIG */

#page {
	@apply m-0 bg-black flex flex-col items-center;
}

#top {
	@apply max-h-[100px] bg-zinc-600 w-full flex justify-between items-center;
}

.wrap-spacer {
	@apply w-full;
}

.hamburger-icon {
	@apply font-bold text-white text-4xl md:text-5xl xl:text-7xl after:content-['\2630'];
}

.profile-bubble {
	@apply w-16 h-16 md:w-24 md:h-24 rounded-full bg-white;
}

.trademark {
	@apply flex flex-col items-center;
}

.landmass {
	@apply font-bold font-grotesk text-white text-2xl md:text-4xl xl:text-5xl tracking-[0.2em] md:tracking-[0.4em] after:content-['LANDMASS'];
}

.landmass-subtext {
	@apply font-smono text-white text-base md:text-xl xl:text-3xl after:content-['Reservation_System'];
}

.content-area {
	@apply w-full h-[calc(100vh-85px)] flex;
}

.side-nav {
	@apply fixed overflow-hidden h-full w-0 bg-[#11151C]/70 flex flex-col gap-y-8 justify-start items-start pt-4 duration-300 ease-in-out;
}

.side-nav a {
	@apply text-white text-2xl font-grotesk font-bold pl-4;
}