@import "tailwindcss";

#collapse-test-content {
	@apply flex flex-col mt-[5%] ml-[10%] mr-[10%];
}

.collapsible-entry {
	@apply flex flex-col;
}

.collapsible-header {
	@apply relative w-full flex items-center bg-sky-200/90;
	@apply transition duration-700 hover:brightness-120 ease-in-out;
}

.collapsible-header * {
	@apply font-inter font-thin text-black text-6xl text-left cursor-pointer;
}

.collapsible-fold-icon {
	@apply absolute right-5 z-0 text-5xl font-bold;
}

.collapsible-fold-icon.folded {
	@apply after:content-['\5E83'];
}

.collapsible-fold-icon:not(.folded) {
	@apply after:content-['\7573'];
}

.collapsible-button {
	@apply z-1 p-5 w-full h-full italic;
}

.collapsible-target {
	@apply bg-white/70 w-full h-0 overflow-hidden;
	@apply transition-discrete duration-500;
}

.collapsible-target-content {
	@apply pt-2 p-7 flex flex-col;
}

.ctc-ordinary-text {
	@apply pt-0 pl-6 pr-6 md:pl-12 md:pr-12 font-dmsans text-justify indent-[1.5em] text-lg/10 md:text-2xl/10 text-black text-shadow-md text-shadow-orange-200;
}

.ctc-head-text {
	@apply p-3 font-grotesk font-bold text-white text-shadow-lg text-shadow-black text-4xl;
}
