@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	Always provide sizes for md and xl unless masisira like .content-menu
*/

#page {
	@apply bg-black flex flex-col gap-4 items-center;
}

#top {
	@apply bg-zinc-600 pl-4 pr-4 w-full flex justify-between items-center;
}

.hamburger-icon {
	@apply invert w-12 h-12 md:w-28 md:h-28 xl:w-40 xl:h-40;
}

.profile-bubble {
	@apply w-16 h-16 md:w-24 md:h-24 xl:w-36 xl:h-36 rounded-full bg-white;
}

.trademark {
	@apply flex flex-col items-center;
}

.landmass {
	@apply font-bold text-white text-2xl md:text-5xl xl:text-8xl tracking-[0.2em] md:tracking-[0.4em] after:content-['LANDMASS'];
}

.landmass-subtext {
	@apply text-white text-xl md:text-2xl xl:text-5xl after:content-['Reservation_System'];
}

.dashboard-text {
	@apply text-3xl md:text-8xl text-white font-bold justify-self-center after:content-['Dashboard'];
}

#content {
	@apply mt-10 flex flex-wrap gap-4;
}

#content-menu-area {
	@apply max-h-full p-4 flex flex-wrap justify-center items-center gap-12;
}

.card {
	@apply bg-gray-200 p-4 max-h-[600px] max-w-[400px] flex flex-col items-center;
}

.card-thumbnail {
	@apply object-cover max-h-[300px] min-w-[200px];
}

.card-header {
	@apply font-bold text-4xl;
}

.card-content-normal {
	@apply text-justify text-sm md:text-base leading-normal line-clamp-6 min-h-[9em];
}

.card-content-long {
	@apply text-justify text-xs md:text-sm leading-[2em] line-clamp-[8] min-h-[10.25em];
}