@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Space Grotesk';
		src: url('../assets/fonts/space-grotesk.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Space Mono';
		src: url('../assets/fonts/space-mono.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Inter';
		src: url('../assets/fonts/inter.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'DM Sans';
		src: url('../assets/fonts/dm-sans.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}

/* HEADER */

#page {
	@apply bg-black flex flex-col gap-4 items-center;
}

#top {
	@apply bg-zinc-600 pl-4 pr-4 w-full flex justify-between items-center;
}

.cfont-grotesk {
	@apply font-['Space_Grotesk'];
}

.cfont-mono {
	@apply font-['Space_Mono'];
}

.cfont-inter {
	@apply font-['Inter'];
}

.cfont-dm-sans {
	@apply font-['DM_Sans'];
}

.wrap-spacer {
	@apply w-full;
}

.hamburger-icon {
	@apply invert w-12 h-12 md:w-28 md:h-28 xl:w-40 xl:h-40;
}

.profile-bubble {
	@apply w-16 h-16 md:w-24 md:h-24 xl:w-36 xl:h-36 rounded-full bg-white;
}

.trademark {
	@apply flex flex-col items-center;
}

.landmass {
	@apply font-bold text-white text-2xl md:text-5xl xl:text-8xl tracking-[0.2em] md:tracking-[0.4em] after:content-['LANDMASS'];
}

.landmass-subtext {
	@apply text-white text-xl md:text-2xl xl:text-5xl after:content-['Reservation_System'];
}

/* DASHBOARD */

#page.dashboard .dashboard-text, .dashboard-card p, .dashboard-card span {
	@apply font-['Space_Grotesk']
}

.dashboard-text {
	@apply pt-7 text-3xl md:text-8xl text-white font-bold justify-self-center after:content-['EXPLORE'];
}

#content {
	@apply mt-10 flex flex-wrap gap-4;
}

#content-menu-area {
	@apply p-4 flex flex-wrap justify-center items-stretch gap-12;
}

.dashboard-card {
	@apply bg-gray-200 p-4 max-w-[400px] flex flex-col justify-start items-stretch gap-y-4;
}

.dashboard-card-thumbnail-container {
	@apply h-[300px] w-full flex justify-center items-center;
}

.dashboard-card-thumbnail {
	@apply object-cover max-h-[300px] max-w-[300px];
}

.dashboard-card-header {
	@apply font-bold text-4xl text-center;
}

.dashboard-card-content {
	@apply text-justify text-xs md:text-base leading-[2em] md:leading-[1.5rem] min-h-[10.25em] md:min-h-[9em];
}

/* LOGIN */

#login {
	@apply p-6 bg-gray-700 bg-opacity-40 max-w-[700px] rounded-2xl flex flex-wrap justify-center;
}

#login label {
	@apply w-full text-white text-[30px] font-['Inter'];
}

#login input {
	@apply p-2 w-[30em] text-base md:max-lg:text-lg xl:text-xl font-['Space_Mono'] rounded-2xl;
}

#login-submit-login {
	@apply p-3 w-full bg-blue-700 text-[30px] text-white font-bold font-['DM_Sans'] rounded-xl after:content-['Login'];
}

#login-register {
	@apply p-3 w-full bg-gray-800 text-[30px] text-white font-['DM_Sans'] rounded-xl after:content-['Register'];
}

.login-entry {
	@apply max-w-[600px];
}

.login-buttons-area {
	@apply p-5 w-full flex flex-col gap-y-2;
}

.login-intro {
	@apply pt-6 flex flex-wrap justify-center items-center;
}

.login-welcome {
	@apply text-white font-bold text-[75px] after:content-['Welcome,_Captain!'];
}

.login-suspense {
	@apply text-white text-[50px] after:content-['Ready_to_explore_the_labs?'];
}

/* BACKGROUNDS */

.login-background {
	@apply bg-[url('https://down-yuantu.pngtree.com/back_our/20241210/bg/4bc1a44f13507.png?e=1770467178&st=NWM5YTI5MmNjNWIzOTBmYzFmMjFiYWZkYzc2Y2Y1NDA&n=%E2%80%94Pngtree%E2%80%94a+striking+planet+and+the_16122702.png')];
}

.dashboard-background {
	@apply bg-[url('https://down-yuantu.pngtree.com/ai/illus_our/20230618/21cf8c1802aecdb2b72339ca2a3f7eb5.jpg?e=1770467530&st=YTE5M2ZhMWI3ODdiNWViN2M1MTg5N2FkMTU5MmU2YjA&n=%E2%80%94Pngtree%E2%80%94vibrant+starry+night+sky+a_13317970.jpg')];
}