@import "tailwindcss";

#reserve-no {
    @apply w-1/2;
}

#reserve-list-main {
    @apply w-full gap-y-4 flex flex-col flex-grow items-center;
}

#filter-box {
    @apply p-10 fixed inset-0 z-[100] hidden items-center justify-center;
}

#filter-area {
    @apply  bg-[#212D40] w-1/3 rounded-2xl flex flex-col justify-center gap-y-4;
}

#text-filter {
    @apply p-4 text-white text-2xl font-bold font-grotesk;
}

#filter-date {
    @apply p-4 m-4 bg-[#364156ff] flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply text-white font-grotesk;
}

#filter-building {
    @apply p-4 m-4 bg-[#364156ff] flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply text-white font-grotesk;
}

#filter-building-select {
    @apply p-2 bg-white text-[#364156ff] font-bold font-dmsans rounded-xl;
}

#filter-room {
    @apply p-4 m-4 bg-[#364156ff] flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply text-white font-grotesk;
}

#filter-room-select {
    @apply p-2 bg-white text-[#364156ff] font-bold font-dmsans rounded-xl;
}

#filter-time {
    @apply p-4 m-4 bg-[#364156ff] flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply text-white font-grotesk;
}

#filter-time-select {
    @apply p-2 bg-white text-[#364156ff] font-bold font-dmsans rounded-xl;
}

#filter-save-close {
    @apply p-4 ml-auto mb-2 mr-2 flex gap-x-4 justify-center items-center;
}

#seat-name {
    @apply ml-4 mr-auto;
}

#save-edit-btn {
    @apply p-2 hidden bg-white text-[#212D40] font-bold font-dmsans rounded-2xl;
    @apply hover:bg-[#212D40] hover:text-white;
}

.reserve-list-main div p {
    @apply text-white text-2xl font-bold font-grotesk;
}
.reserve-list-card {
    @apply p-2 bg-[#364156] w-2/3 min-h-[500px] h-2/3 rounded-2xl flex-col justify-center items-center;
}

.right-most-btn {
    @apply p-4 mr-5 flex ml-auto;
}

.reserve-view {
    @apply p-2 w-2/3 gap-x-10 flex flex-row justify-items-start items-start;
}

.reserve-list-navigation {
    @apply p-2 w-2/3 gap-x-4 flex flex-row justify-center items-center;
}

.reserve-list-btn {
    @apply p-3 bg-white text-[16px] text-[#364156] font-bold font-dmsans rounded-xl;
    @apply hover:bg-[#212D40] hover:text-white hover:cursor-pointer;
    @apply focus:outline-5 focus:outline-[#212D40];
}

.reservation-item {
    @apply p-4  w-full flex flex-col gap-x-4 items-start text-white font-grotesk;
}

.seat-list {
    @apply p-2 w-full flex flex-col gap-y-4;
}
.seat-item {
    @apply p-2 bg-[#212D40] w-full flex flex-row gap-x-4 rounded-2xl;
    @apply text-white font-grotesk;
    @apply hover:bg-white hover:text-[#364156];
}
