@import "tailwindcss";

#reserve-no {
    @apply w-1/2;
}

#reserve-list-main {
    @apply w-full gap-y-4 flex flex-col flex-grow items-center;
}

#text-filter {
    @apply p-4 text-white text-2xl font-bold font-grotesk;
}

#filter-area {
    @apply  fixed invisible overflow-hidden flex flex-col gap-y-4 z-50 max-w-full justify-start items-start;
    @apply  bg-[#212D40]/100 rounded-b-2xl;
    @apply  duration-500 ease-in-out;
}

#filter-date {
    @apply p-4 ml-2 bg-[#364156ff] flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply text-white font-grotesk;
}

#filter-time {
    @apply p-4 flex flex-row gap-x-4 justify-center items-center;
    @apply text-white font-grotesk;
}

#filter-save-close {
    @apply p-4 ml-auto mb-2 mr-2 flex gap-x-4 justify-center items-center;
}

.reserve-list-main div p {
    @apply text-white text-2xl font-bold font-grotesk;
}
.reserve-list-card {
    @apply p-2 bg-[#364156ff] w-2/3 min-h-[500px] h-2/3 rounded-2xl flex-col justify-center items-center;
}

.right-most-btn {
    @apply p-4 mr-5 flex ml-auto;
}

.reserve-view-edit {
    @apply p-2 w-2/3 gap-x-10 flex flex-row justify-items-start items-start;
}

.reserve-list-navigation {
    @apply p-2 w-2/3 gap-x-4 flex flex-row justify-center items-center;
}

.reserve-list-btn {
    @apply p-3 bg-white text-[16px] text-[#364156] font-bold font-dmsans rounded-xl;
    @apply hover:bg-[#364156] hover:text-white;
    @apply hover:cursor-pointer;
}

.filter-date-btns {
    @apply p-2 bg-[#212D40] w-full flex flex-row gap-x-4 justify-center items-center rounded-2xl;
    @apply hover:bg-[#fff] hover:text-[#364156ff];
    @apply hover:cursor-pointer;
}

.filter-btns {
    @apply p-2 gap-x-4 text-white font-bold bg-[#364156ff] font-dmsans rounded-2xl;
    @apply hover:bg-[#fff] hover:text-[#364156ff];
    @apply hover:cursor-pointer;
}
