@import "tailwindcss";

body{
    @apply overflow-hidden;

} 
.reservation-room .reserve-bldg-text, 
                    .go-back-text, 
                    .reserve-bldg-text, 
                    #available-text-container p, 
                    #date-time-selection input, 
                    #date-time-selection select , 
                    .room-container div,
                    .room-container span{
    @apply font-grotesk;
    @apply text-white;
}

#date-time-selection option{
    @apply text-black;
}

.go-back-text{
    @apply block text-right;
}
#go-back-container{
    @apply mx-auto w-full px-6;  
    @apply justify-end; 
}
.available-text-container{
    @apply flex flex-row items-center h-screen overflow-hidden
}
.reserve-bldg-text{
	@apply pt-7 text-5xl md:text-7xl text-white font-bold justify-self-center;
}
.available-text{
    @apply pt-7 text-lg text-white font-bold justify-self-center;
}

#content {
    @apply mt-10 flex flex-col items-center w-full;
}

#content-area{
    @apply p-4 gap-10 flex flex-col md:flex-row items-center w-full px-6;
    @apply items-start;
}

#date-time-selection{
    @apply flex flex-col gap-4 w-full;
}

#reserved-time{
    @apply border-none outline-none appearance-none bg-transparent;
    @apply border-b border-solid border-white;
}

#reserved-date, #reserved-date:focus, #reserved-time{
    @apply border-none;
    @apply border-b border-solid border-white;
    @apply placeholder:text-white;
}

#available-rooms-container{
    @apply flex flex-col w-full gap-y-4 overflow-auto scroll-smooth max-h-[350px];
}

.room-container{
    @apply flex flex-row justify-between items-center w-full;
    @apply bg-gray-800 p-4 mb-2;
    @apply rounded-md
}

@media (hover: hover) and (pointer: fine){
.room-container:hover{
    @apply bg-[#5d5d81];
    @apply cursor-pointer;
}

/* .room-container:hover div, .room-container:hover span{
    @apply text-gray-800
} */
}
